<html>
<head>
	<title>My Angular App!</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script type="text/javascript" src="/javascripts/angularApp.js"></script>
</head>
<body ng-app="todoApp" ng-controller="MainCtrl">

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

			<div class="page-header text-center">
				<h1>{{test}}</h1>
			</div>

			<div class="form">
				<form ng-submit="addItem()">
					<div class="input-group">
						<input ng-model="title" type="text" class="form-control">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-plus"></span> Add Task</button>
							</span>
						</div>
					</form>
				</div>
				<hr/>

				<ul class="list-group">
					<li class="list-group-item clearfix task" 
					ng-repeat="item in items | orderBy : item : -createdOn"
					ng-class="{disabled: item.done}">

					<span class="pull-left">
						<input type="checkbox" class="form-control" ng-model="item.done"></input>
					</span>

					<form>
						<input class="edit form-control input-lg" ng-trim="false" ng-model="item.title" ng-blur="saveItem(item)"></input>
					</form>

					<span class="pull-right">
						<button class="btn btn-primary btn-xs" ng-show="!item.done"><span class="glyphicon glyphicon-ok" 
							ng-click="toggleItem(item)"></span></button>

							<button class="btn btn-primary btn-xs" ng-show="item.done"><span class="glyphicon glyphicon-repeat" 
								ng-click="toggleItem(item)"></span></button>

								<button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" 
									ng-click="deleteItemByIndex($index)"></span></button>

								</span>
				</ul>
			</div>
		</div>
	</body>
</html>